<%= form_with(model: session, local: true) do |form| %>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :session_email, name: "session[email]" %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :session_password, name: "session[password]" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
