<!DOCTYPE html>
<html>
    <head>
        <title>Jobber</title>
        <%= csrf_meta_tags %>
        <%= render 'application/favicon' %>
        <%= stylesheet_link_tag    'application', 'react', media: 'all', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
        <%= yield %>
        <%= javascript_include_tag 'application', 'react' %>
    </body>
</html>
