<!DOCTYPE html>
<html>
    <head>
        <title><%= yield :title %></title>
        <%= csrf_meta_tags %>

        <%= render 'application/favicon' %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= stylesheet_link_tag    'static', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'static', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
        <div id="navbar">
            <a class="brand"  href="/"></a>
            <a class="navtab" href="/">Home</a>
            <a class="navtab" href="/about">About Us</a>
            <a class="navtab" href="/blog">Blog</a>
        </div>
        <div id="main">
            <%= yield %>
        </div>
    </body>
</html>
